.movies-list {
  min-height: 399px;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
}

.movies-list__container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(218px, 1fr));
  column-gap: 20px;
  row-gap: 32px;
}

.movies-list__err {
  align-self: center;
}

@media screen and (max-width: 768px) {
  .movies-list {
    margin-top: 78px;
  }

  .movies-list__container {
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media screen and (max-width: 320px) {
  .movies-list {
    margin-top: 40px;
  }

  .movies-list__container {
    row-gap: 20px;
  }
}